# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\xampp\htdocs\Submission-APIMusic1-Belajar Fundamental-Aplikasi-Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
